# Intentionally empty.
#
# `api/cron/webhook-health.py` uses only Python stdlib (urllib, json,
# datetime, http.server, os, time, traceback). Without this file,
# Vercel's Python runtime falls back to the root `requirements.txt`
# which installs Pillow + curl_cffi + openai + selectolax — pushing
# the function bundle past Vercel's 500MB Lambda ephemeral-storage
# limit. Co-locating this empty requirements.txt shadows the root one
# so no deps get installed for this function.
# --- Vercel Python runtime pin (workaround, 2026-07-15) ---
# vercel_runtime 0.16.0 ships a broken .dist-info/licenses/ that copies its
# own src tree; Vercel's build-time bytecode compile then dies with
# `ENOENT ... vercel_runtime-0.16.0.dist-info/licenses/.../__pycache__/__init__.cpython-312.pyc`,
# failing EVERY Python-function deploy (prod + preview) regardless of cache
# or tree size. Confirmed on a clean 400MB no-cache build (1m13s fail).
# 0.15.0 is the last good release. Vercel Support case: 01QGyoEPWLy3yBKc.
# Remove once Vercel patches the builder.
vercel_runtime==0.15.0